<div class="container">
  <h1>Mood</h1>
   <%= form_with moods: @moods  do |form| %>
          <% @moods.each do |moods|  %>
            <div class="checkbox">
            <span class="emoji"><%= moods.emoji %></span>
              <%= moods.name %>
              <%= check_box_tag moods.id %>
            </div>
          <% end %>
      <%= form.submit "Create" %>
  <% end %>
</div>
