<% if @period_day_symptom.nil? %>
<p>No symptoms set yet</p>
<% else  %>

<h1>Your Symptoms</h1>
<div class="container-symptoms">
  <div class="new">
      <h1>Flow</h2>
      <div class="flow">
      <%= @period_day_symptom.flow.name %>
      <%= @period_day_symptom.flow.emoji %>
      </div>
  </div>

  <div class="new">
      <h1>Mood</h1>
      <div class="mood">
      <%= @period_day_symptom.mood.name %>
      <%= @period_day_symptom.mood.emoji %>
      </div>
  </div>

  <div class="new">
      <h1>Physical Symptom</h1>
      <div class="physical">
      <%= @period_day_symptom.physical_symptom.name %>
      <%= @period_day_symptom.physical_symptom.emoji %>
      </div>
  </div>
  <div class="new">
  Notes
 <%= @period_day_symptom.notes %>
  </div>
</div>
<% end %>





<%= button_to "Delete Period", @period, method: :delete, class: "btn btn-danger btn-lg mt-3" %>
