<%# <div class="container"> %>
<%= simple_form_for [@period, @period_day_symptom] do |f| %>
    <%= f.association :physical_symptom,
      as: :radio_buttons,
      label_method: lambda { |symptom| "#{symptom.name} #{symptom.emoji}" },
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      item_wrapper_class: 'category-item',
      input_html: {class: 'category-selector'} %>
    <%= f.association :mood,
      as: :radio_buttons,
      label_method: lambda { |mood| "#{mood.name} #{mood.emoji}" },
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      item_wrapper_class: 'category-item',
      input_html: {class: 'category-selector'} %>
    <%= f.association :flow,
      as: :radio_buttons,
      label_method: lambda { |flow| "#{flow.name} #{flow.emoji}" },
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      item_wrapper_class: 'category-item',
      input_html: {class: 'category-selector'} %>
    <div class="lab">
    <%= f.input :notes, input_html: {class: "notes"} %>
    </div>
    <%= f.button :submit, 'Done', class: "pdsbutton btn btn-primary button" %>
  <% end %>
