<%# <div class="container"> %>
<%= simple_form_for [@period, @period_day_symptom] do |f| %>
    <%= f.association :physical_symptom,
      as: :radio_buttons,
      label: "Symptom",
      label_method: lambda { |symptom| "<div><span class='symptom-emoji'>#{symptom.emoji}</span> <br> <span class='symptom-text'>#{symptom.name}</span></div>".html_safe },
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      item_wrapper_class: 'category-item',
      input_html: {class: 'category-selector'} %>
    <%= f.association :mood,
      as: :radio_buttons,
      label_method: lambda { |mood| "<div><span class='symptom-emoji'>#{mood.emoji}</span> <br> <span class='symptom-text'>#{mood.name}</span></div>".html_safe },
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      item_wrapper_class: 'category-item',
      input_html: {class: 'category-selector'} %>
    <%= f.association :flow,
      as: :radio_buttons,
      label_method: lambda { |flow| "<div><span class='symptom-emoji'>#{flow.emoji}</span> <br> <span class='symptom-text'>#{flow.name}</span></div>".html_safe },
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      item_wrapper_class: 'category-item',
      input_html: {class: 'category-selector'} %>
    <div class="lab">
    <%= f.input :notes, input_html: {class: "notes"} %>
    </div>
    <%= f.button :submit, 'Done', class: "pdsbutton btn btn-primary button" %>
  <% end %>
