<main>
  <h1 class="date-home"><%= Time.now.strftime('%A %e %B' ) %></h1>
    <div class="home-row">
      <div class="column">
        <div class="card">
        <p class="bold">Mon</p>
        <h3 class="numbers">19</h3>
        </div>
      </div>
      <div class="column">
        <div class="card">
        <p class="bold"> Tue </p>
        <h3 class="numbers">20</h3></div>
      </div>
      <div class="column">
        <div class="card">
        <p class="bold"> Wed </p>
        <h3 class="numbers">21</h3>
        </div>
      </div>
      <div class="column">
        <div class="card">
        <p class="bold"> Thu </p>
        <h3 class="numbers">22</h3>
        </div>
      </div>
      <div class="column">
        <div class="card">
        <p class="bold"> Fri </p>
        <h3 class="numbers">23</h3>
        </div>
      </div>
      <div class="column">
        <div class="card thur">
        <p class="bold"> Sat </p>
        <h3 class="numbers">24</h3>
        </div>
      </div>
      <div class="column">
        <div class="card">
        <p class="bold"> Sun </p>
        <h3 class="numbers">25</h3>
        </div>
      </div>
      </div>
      <div class="text-center text-white circle" style="background-image: url(<%= image_path 'moon.png' %>); background-position: center; background-size: cover;">
        <% if Period.all.empty? %>
          <p class="home-period"> Period: </p>
          <p class="home-period2"> Due today </p>
        <% else %>
          <% time = (@period.start_date - DateTime.now).to_i %>
          <p class="home-period">Period:</p>
          <p class="home-period2"> Day <%= - time + 1 %> </p>
        <% end %>
        <% if user_signed_in? %>
          <%# <%= link_to "Track", "/periods", class: "btn btn-primary btn-lg" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
          <%= link_to "Sign Up", "users/sign_up", class: "btn btn-secondary btn-lg" %>
        <% end %>
      </div>
      </div>
    </div>
</main>
